#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";
        timeout-ms = <100>;
        require-prior-idle-ms = <150>;

        combo_lang2 {
            key-positions = <7 8 9>;
            bindings = <&kp LANG2>;
        };

        combo_lang1 {
            key-positions = <10 11 12>;
            bindings = <&kp LANG1>;
        };

        combo_comma {
            key-positions = <10 16>;
            bindings = <&kp COMMA>;
        };

        combo_period {
            key-positions = <11 16>;
            bindings = <&kp PERIOD>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <0 2>;
            layers = <0>;
        };

        x {
            bindings = <&kp X>;
            key-positions = <1 2>;
            layers = <0>;
        };

        l {
            bindings = <&kp L>;
            key-positions = <3 5>;
            layers = <0>;
        };

        p {
            bindings = <&kp P>;
            key-positions = <3 4>;
            layers = <0>;
        };

        m {
            bindings = <&kp M>;
            key-positions = <4 5>;
            layers = <0>;
        };

        j {
            bindings = <&kp J>;
            key-positions = <5 13>;
            layers = <0>;
        };

        c {
            bindings = <&kp C>;
            key-positions = <7 8>;
            layers = <0>;
        };

        v {
            bindings = <&kp V>;
            key-positions = <8 9>;
            layers = <0>;
        };

        w {
            bindings = <&kp W>;
            key-positions = <10 12>;
            layers = <0>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <10 11>;
            layers = <0>;
        };

        g {
            bindings = <&kp G>;
            key-positions = <11 12>;
            layers = <0>;
        };

        d {
            bindings = <&kp D>;
            key-positions = <12 13>;
            layers = <0>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <12  16>;
            layers = <0>;
        };

        lbkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <2 15>;
            layers = <0>;
        };

        rbkt {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <3 16>;
            layers = <0>;
        };

        n3 {
            bindings = <&kp N3>;
            key-positions = <10 11>;
            layers = <1>;
        };

        n5 {
            bindings = <&kp N5>;
            key-positions = <10 12>;
            layers = <1>;
        };

        n6 {
            bindings = <&kp N6>;
            key-positions = <11 12>;
            layers = <1>;
        };

        n7 {
            bindings = <&kp N7>;
            key-positions = <10 11 12>;
            layers = <1>;
        };

        n9 {
            bindings = <&kp N9>;
            key-positions = <10 13>;
            layers = <1>;
        };

        n0 {
            bindings = <&kp N0>;
            key-positions = <11 13>;
            layers = <1>;
        };

        f3 {
            bindings = <&kp F3>;
            key-positions = <10 11>;
            layers = <2>;
        };

        f5 {
            bindings = <&kp F5>;
            key-positions = <10 12>;
            layers = <2>;
        };

        f6 {
            bindings = <&kp F6>;
            key-positions = <11 12>;
            layers = <2>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <10 11 12>;
            layers = <2>;
        };

        f9 {
            bindings = <&kp F9>;
            key-positions = <10 13>;
            layers = <2>;
        };

        f10 {
            bindings = <&kp F10>;
            key-positions = <11 13>;
            layers = <2>;
        };

        f11 {
            bindings = <&kp F11>;
            key-positions = <10 11 13>;
            layers = <2>;
        };

        f12 {
            bindings = <&kp F12>;
            key-positions = <12 13>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt LGUI Q  &kp U  &kp Y  &kp B  &kp N  &mt RGUI R  &mt LSHIFT O  &mt LALT I  &kp A  &kp E  &kp S  &kp K  &mt RALT H  &mt RSHIFT T  &kp BACKSPACE  &lt 2 SPACE  &lt 1 ENTER  &mt RCTRL TAB
            >;
        };

        layer_1 {
            bindings = <
&kp LGUI  &kp FSLH  &kp BSLH  &kp PLUS  &kp ASTERISK  &kp MINUS  &kp LSHIFT  &kp LALT  &kp LCTRL  &none  &kp N1  &kp N2  &kp N4  &kp N8  &kp DEL  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp UP  &none  &none  &none  &none  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp F1  &kp F2  &kp F4  &kp F8  &trans  &trans  &trans  &trans
            >;
        };
    };
};
